<div class="container">
    <div class="containerObj">
        <h1 class="title">Objetivo:</h1>
        <p>Projeto feito para exibir receitas de uma API aleatoriamente na página principal, tendo a opção de busca ao clicar em 'Buscar receita', e também exibir receitas similares.</p> <p> Tenho um número "X" de requisições por dia; caso não exiba nenhuma receita, é por este motivo. Espere e tente outro dia, obrigado.</p>
    </div>
</div>
<div class="container">
    <h2>Vídeo da aplicação:</h2>

    
</div>
<div class="container">
<iframe width="560" height="315" src="https://www.youtube.com/embed/0U1r3J78BA0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>